/* cardcarousel.css */

.carousel-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}



.slick-slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 10px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #333;
}
/* cardcarousel.css */

/* Styles for default arrows provided by react-slick */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}
/* Add margin between slides */

