.card-head{
	color: rgb(252, 250, 255);
	background-color: rgb(66, 64, 64);
 
  font-family: "Ubuntu", sans-serif;
  
  
	
}
.card-text{
	font-size: 19px;
	text-align: justify;
	color: rgb(57, 53, 53);
	
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	
}
.cus-button{
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: bold;
}

/* Custom CSS for floating labels and removed focus ring */
/* CustompackageForm.css */
.custom{
  border: 1px solid rgb(174, 171, 171);
  margin-bottom: 20px;
}
.custom1{
  margin-top: 40px;
}
.heading-customization{
  margin: 20px;
  color: rgb(56, 55, 54);
  font-style: italic;
}