.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Align vertically in the center */
  transform: translateY(-50%); /* Adjust vertical position */
  width: 30px; /* Set your desired width */
  height: 30px; /* Set your desired height */
  /* Adjust positioning for next and previous buttons */
  margin-top: 0;
  background-color: rgb(37, 34, 34); /* Remove any top margin */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%; /* Make sure the icon occupies the entire button */
  height: 100%; /* Make sure the icon occupies the entire button */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: ''; /* Clear default content */
}

/* Adjust positioning for the previous button */
.carousel-control-prev {
  left: 0; /* Align to the left edge of the carousel */
}

/* Adjust positioning for the next button */
.carousel-control-next {
  right: 0; /* Align to the right edge of the carousel */
}

  @media (max-width: 768px) {
	.carousel-control-next,
	.carousel-control-prev {
	  width: 10px; /* Decreased width for mobile */
	  height: 10px; /* Decreased height for mobile */
	}
	
  }
/*welcome container*/
  .welcome-container{
	margin-top: 50px;

  }
  .welcome-paragraph{
	font-size: 19px;
	font-family: "Playfair Display", serif;
   color: rgb(108, 108, 108);
		font-weight: 400;
 
 /* Or whatever weight you desire */
  font-style: normal;
	text-align: justify;
  padding: 10px;
	
  }
  .welcome-note{
	color: rgb(227, 76, 76);
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
	}