.india-text{
	color: white;
}
.india-image{
	max-height: 700px;
	object-fit: cover;
}
@keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(-120px);
	}
  }

.india-text {
	position: absolute;
	top: 50%; /* Aligns the top of the text to the middle of the parent container */
	right: 0; /* Aligns the text to the right side of the parent container */
	transform: translateY(-50%); /* Centers the text vertically */
	padding: 40px; /* Add padding to the text for better readability */
	font-size: clamp(16px, 2.5vw, 24px); /* Sets the font size using the clamp() function */
	animation: fadeIn 0.5s ease forwards; /* Apply animation to fade in the text */
	animation-delay: 0.8s; /* Delay the animation to start after 0.5s */
	opacity: 0;
	
	
  }
  
  .india-head {
	
	font-weight: 400;
	font-size: clamp(2em, 4vw, 4em);
	color: yellow; /* Optionally set font size for the heading */
	animation: fadeIn 0.5s ease forwards;
	animation-delay: 0.5s; /* Delay the animation to start after 0.5s */
	opacity: 0;
  }