/* customStyles.css */
.custom-card {
	position: relative;
	width: 100%;
	height: 250px; /* Set the height of the card as needed */
	border-radius: 20px;
	overflow: hidden;
	transition: transform 0.3s ease;
	background-size: cover; /* Add transition for smooth effect */
  }
  
  .custom-card:hover {
	transform: scale(1.05); /* Increase the scale on hover */
  }
  
  .custom-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
	transition: opacity 0.3s ease;
  }
  
  .card-wrapper:hover .custom-card::before {
	opacity: 0; /* Hide the overlay on hover */
  }
  
  .card-title {
	color: rgb(255, 250, 235);
	
	font-weight: bold;
	font-size: 20px;
	font-family: "Noto Serif Georgian", serif;
	/* Add text shadow for better visibility */
  }
  
  .card-wrapper {
	padding: 10px;
  }
  
  .card {
	margin-bottom: 10px;
  }
  
  @media (max-width: 576px) {
	.custom-card {
	  height: auto; /* Automatically adjust height */
	  margin-bottom: 10px;
	  transition: none; /* Add some space between cards */
	}
	.card-title{
		font-size: 16px;
	}
  }
  @media (max-width: 992px) {
	.custom-card {
	  height: 250px; /* Adjust the height for medium viewport */
	}
	.card-title{
		font-size: 12px;
	}
  }
  
  @media (max-width: 768px) {
	.custom-card {
	  height: 200px; /* Adjust the height for small viewport */
	}
	
  }
  @media only screen and (min-width: 1024px) and (max-width: 1400px) {
	.card-title{
		font-size: 12px;
	}
	.custom-card {
		background-size: cover;
	}
}
/* customStyles.css */

  
  .card-button {
	position: absolute;
	bottom: -40px; /* Move the button outside of the card */
	left: 10px; /* Adjust the distance from the left */
	opacity: 0; /* Initially hide the button */
	transition: opacity 0.3s ease, bottom 0.3s ease;
	background-color: white;
	color: black;
	width: 100px;
	height: 35px;
	margin-top: 10px;
	border-radius: 10px;
  }
  
  .card-wrapper:hover .card-button {
	opacity: 1; /* Show the button on hover */
	bottom: 10px; /* Adjust the position to make it visible */
  }
  
  .card-wrapper {
	padding: 10px;
	position: relative; /* Ensure relative positioning for child elements */
  }
  .package-container{
	margin-top: 40px;
	
  }
	.package-heading{
		margin-bottom: 30px;
		font-family: "Open Sans", sans-serif;
		color: rgb(223, 74, 19);
	}